*,
body {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 1px;
}

p {
	color: #404040;
	font-size: 1em;
}

.judul {
	font-family: 'Montserrat', sans-serif;
	color: #0f3559;
	font-size: 2.5em;
	font-weight: 1000;
	font-style: italic;
}

.judul span {
	color: #ff4747;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
	filter: none;
}

.button,
.button:visited,
.button:link,
.button:active,
.button:focus {
	background-color: #ff4747;
	color: #ffffff;
	border-radius: 40px;
	box-shadow: none;
}

.button:hover {
	opacity: 0.45;
}

.container-fluid {
	padding: 0 7%;
}

/* navbar */
nav {
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.brand-img {
	width: 130px;
}

/* title section */

.title {
	background-image: url('/images/homeClient/title-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	min-height: 100vh;
}

.title h1 {
	font-size: 3em;
}

.logo-icon {
	margin-top: 20%;
	width: 100%;
	margin-bottom: -3%;
}

.quote-blue {
	color: #0d3659;
}

.quotes {
	color: #ff4747;
	margin-top: 12%;
	padding: 16% 10%;
	text-align: right;
}

.quotes .bold {
	font-weight: bolder;
}

/* about section */

.about-oyi {
	padding-top: 3%;
	text-align: center;
}

.about-quotes {
	margin: 3% 5% 4%;
}

.about-icon {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

/* event section */

.event {
	background-image: url('/images/homeClient/event-bg.svg');
	background-color: #ffeded;
	background-size: 90%;
	background-repeat: no-repeat;
	color: #0d3659;
	padding: 5% 0 0;
	overflow-y: auto;
}

.event-quote {
	margin-top: 45%;
}

.event-quote h1 {
	font-size: 7em;
	font-weight: bolder;
}

.card {
	color: #0d3659;
	box-shadow: 3px 4px 7px rgba(100, 100, 100, 0.25);
}

.card-title {
	font-weight: 900;
}

.card span {
	color: #ff4747;
}

.card a.btn {
	color: #ffffff;
}

.event .card {
	margin: 0 10px 30px;
}

.card img {
	width: 100%;
}

.event .lihat-semua {
	font-size: 1.5em;
	font-weight: 600;
}

.carousel-control-next-icon {
	background-image: url('/images/homeClient/arrow.svg');
	margin-left: 20px;
}

.carousel-control-prev-icon {
	background-image: url('/images/homeClient/arrow.svg');
	margin-right: 20px;
}

/* artikel section */

.artikel .card {
	margin: auto;
	width: 80%;
}

.carousel-inner > .item {
	position: relative;
	display: none;
	transition: none;
}

a,
a:active,
a:visited {
	color: #0d3659;
	text-decoration: none;
}

h1.tagline {
	margin-top: 20px;
	font-size: 4em;
	letter-spacing: 3px;
	font-weight: 700;
	font-style: italic;
	background: -webkit-linear-gradient(left, #ff4747 20%, #0f3559);
	background: -o-linear-gradient(left, #ff4747 20%, #0f3559);
	background: -moz-linear-gradient(left, #ff4747 20%, #0f3559);
	background: linear-gradient(to left, #ff4747 20%, #0f3559);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pendapat {
	/* margin-top: 10%; */
	padding: 4% 0;
	background-image: url('/images/homeClient/pendapat-bg.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.pendapat .heading {
	margin-bottom: 7%;
}

.img-thumbnail {
	height: 250px;
	width: 250px;
	text-align: center;
}

.pendapat-text {
	width: 90%;
	height: 280px;
	margin: 5% auto;
}

.pendapat .name {
	color: #ff4747;
}

.name h4 {
	font-size: 2em;
	font-weight: 1000;
}

.contact {
	background-color: #ffeded;
	padding: 5% 0;
	padding-left: 10%;
}

.contact-header {
	color: #0d3659;
	width: 50%;
	font-weight: 1000;
	font-size: 5.5em;
	margin-top: 15%;
}

.input-control {
	width: 100%;
}

.contact form {
	margin-top: 10%;
	width: 80%;
	color: #ff4747;
}

.contact input,
input:focus {
	background-color: transparent;
	outline: none !important;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	width: 100%;
}

.footer {
	background-color: #ffdddc;
	padding: 1% 0;
}

.contact-oyi img {
	width: 10%;
	margin-right: 3%;
}

.contact-oyi {
	margin-top: 10px;
}

@media (max-width: 991px) {
	.title {
		background-size: cover;
		font-size: 1em;
	}

	.logo-container {
		margin: 0 auto;
		width: 200px;
		height: 200px;
		background-color: #ffffff;
		border-radius: 50%;
		margin-top: -20%;
		margin-bottom: 10%;
	}

	.logo-container img {
		margin-left: 10%;
		width: 70%;
	}

	.quotes {
		margin-top: 0;
		text-align: center;
	}

	.logo-icon-container {
		margin-top: 10%;
	}

	.event .card {
		width: 80%;
		margin: auto;
		margin-bottom: 30px;
	}
	h1.tagline {
		font-size: 3em;
	}

	.artikel .card {
		width: 50%;
		margin-bottom: 20px;
	}

	.pendapat {
		background-image: none;
	}

	.pendapat p {
		width: 100%;
	}

	.pendapat-text {
		text-align: center;
	}

	.pendapat .carousel-control-prev-icon,
	.pendapat .carousel-control-next-icon {
		position: absolute;
		top: 200px;
	}

	.contact h1 {
		margin: 3% 0;
	}

	.contact form {
		width: 100%;
	}

	.contact-oyi img {
		width: 9%;
		margin-right: 3%;
	}
}

@media (max-width: 767px) {
	.title {
		background-size: cover;
		font-size: 0.5em;
	}

	.logo-container {
		margin: 0 auto;
		width: 200px;
		height: 200px;
		background-color: #ffffff;
		border-radius: 50%;
		margin-top: -20%;
		margin-bottom: 10%;
	}

	.quotes {
		text-align: center;
	}

	.logo-icon {
		margin: 30px 20px 0;
		width: 60%;
	}

	.event img {
		height: 80px;
	}
	.event .card {
		width: 90%;
	}
	.event-text {
		display: none;
	}

	.event .card a {
		font-size: 0.5em;
	}

	.event h5 {
		font-size: 1em;
	}

	h1.tagline {
		font-size: 1.8em;
	}

	.artikel .card {
		width: 70%;
	}

	.img-thumbnail {
		width: 50%;
	}
	.pendapat p {
		margin-top: 20px;
	}

	.pendapat .carousel-control-prev-icon,
	.pendapat .carousel-control-next-icon {
		top: 150px;
	}

	.contact-oyi img {
		width: 5%;
		margin-right: 3%;
	}
}
